name: shell commands

on: [push]

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: echo string
        run: echo "Hello Engineers"
      - name: Multiline script
        run:
          node -v
          pwd
  run-windows-commands:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: windows-latest
    steps:
      - name: Directory
        run: Get-Location
      - name: release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Directory using bash
        run: pwd
        shell: bash